{% load static %}
<html>
    <head>
        <title>Jungboro Blog</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/board.css' %}">
    </head>
    <body>
        <div class="page-header">
                <h1><a href="/board">Jungboro Homepage</a></h1>
        </div>
        <div class="content container">
                <div class="row">
                        <div class="col-md-8">
                                {% for board in boards %}
                                 <div class="date">
                                      {{ board.created }}
                                 </div>
                                <h1>{{ board.title }} </h1>
                                <p>{{ board.content }} </p>
                                {% endfor %}
                        </div>
                </div>
        </div>
    </body>
</html>

