{% load static %}
<html>
    <head>
        <title>Jungboro Homepage</title>
	<script src="http://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap/3.3.2/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/3.3.2/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/board.css' %}?ver=1">
	<script src="{% static 'js/bootstrap/3.3.2/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="page-header">
		{% if request.user.is_authenticated %}
		<a href="{% url 'board:signout' %}" class="top-menu"><span class="glyphicon glyphicon-remove"></span></a>
		<div class="user-login">&nbsp<strong>{{ request.user.username }}</strong>&nbsp</div>
		{% else %}
		<a href="{% url 'board:signin' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
		<a href="{% url 'board:signup' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
		<ul class="nav nav-pills">
  			<li><a href="/">HOME</a></li>
	  		<li><a href="/board/page/1">BOARD</a></li>
		</ul>
        </div>
	<div class="content container">
                <div class="row">
                        <div class="col-md-8">
				{% block content %}
				{% endblock %}
                        </div>
                </div>
        </div>
    </body>
</html>

